{% extends "_datatable.html" %}
{% block tableData %}
  <thead>
    <tr>
      {% for value in fieldDict.values() %}
        <th>{{ value["verbose"] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for datumDict in queryData %}
      <tr>
        {% for field_id, field_attrs in fieldDict.items() %}
          {% if field_attrs.href is defined %}
            {% if datumDict[field_attrs.href] is not none %}
              <td>
                <a href={{ datumDict[field_attrs.href] }}>{{ datumDict[field_id] }}</a>
              </td>
            {% else %}
              <td>-</td>
            {% endif %}
          {% else %}
            {% if datumDict[field_id] is not none %}
              <td>{{ datumDict[field_id] }}</td>
            {% else %}
              <td>-</td>
            {% endif %}
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      {% for value in fieldDict.values() %}
        <th>{{ value["verbose"] }}</th>
      {% endfor %}
    </tr>
  </tfoot>
{% endblock %}
