{% extends "_datatable.html" %}
{% block tableData %}
    <thead>
        <tr>
            <th>Job ID</th>
            <th>Name</th>
            <th>Company</th>
            <th>Quantity</th>
            <th>Planned Setup</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.jobid }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.company }}</td>
                {% if job.qty > 20 %}
                    <td style="color:green">{{ job.qty }}</td>
                {% else %}
                    <td style="color:red">{{ job.qty }}</td>
                {% endif %}
                <td>{{ job.plannedSetUp }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Job ID</th>
            <th>Name</th>
            <th>Company</th>
            <th>Quantity</th>
            <th>Planned Setup</th>
        </tr>
    </tfoot>
{% endblock %}
